html {
  margin: 0;
  padding: 0;
}

body{
  background-color: aquamarine;

}

canvas {
  display: block;
  
  border-style: groove ;
  border: width 20px;
  
}



#canvasContainer{
  position: inherit;
  display: flex;
  justify-content: center;
}
h1{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
  background-size: cover;
  text-shadow: 0 0 5px #FF0000, 0 0 5px #6bf403; 
  border: medium solid red;
  background-color: aliceblue;
  border-radius: 2%;
  letter-spacing:8px;
  text-indent: 6px;
}

p{
  text-shadow: 2px,2px;
  font-family:"Times New Roman", Times, serif;
  text-overflow: ellipsis;
  color:black;
  font-weight: 100;
  background-color: aliceblue;
  font-size:xx-large;
  display: flex;
  justify-content: center;
  border: medium solid red;
  border-width:1ch;
  border-radius: 2%;

}
.linebr {
  display: flex;
  justify-content: center;
  clear: both; /* 清除左右浮动 */
  width: 100px; /* 必须定义宽度 */
  border:1px solid ;/*定义容器外边框*/
  word-break: break-word; /* 文本行的任意字内断开 */
  word-wrap: break-word; /* IE */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  /* margin-right:50px; */

  }
  

