html {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color:red;

    margin: 0;
    padding: 0;



  }
  canvas {
    display: block;
    border-radius: 12%;
  }
  
  
.WorkA-div{
  background-color: lightyellow;
}
/* div {
	background-color: gray;
	width: 1000px;
	height: 100px;
	margin: 10px;
	padding: 5px;
} */


#canvasContainer{
  position: inherit;
  
  display: flex;
  justify-content: center;
}


h1{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Times New Roman', Times, serif;

}